main {
    min-height: 70vh;
}

.rating span {
    margin: 0.1rem;
}

@media screen and (min-width: 765px) {
    .photo {
        height: 205px;
    }
    .card1 {
        height: 431.22px;
    }
}
